.header {
  background-color: white;
  border: solid 1px #e0e0e0;
  height: 100px;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
  .header__title {
    font-size: 30px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
  }
  .hamburger--arrowturn {
    position: absolute;
    top: 20px;
    left: 10px;
  }

.burger-menu .hamburger {
  position: fixed;
  top: 0;
  right: 0;
}

.nav {
  width: 300px;
  padding: 40px;
}
.nav a {
  color: #ddd;
  margin-bottom: 10px;
  display: block;
}
.nav .h2 {
  color: #ddd;
}
